<!doctype html>
<html>

<head>
    <title>Setup page</title>
    <script src="./lib/angular.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <script src="./lib/jquery.slim.js"></script>
    <script src="./lib/popper.min.js"></script>
    <script src="./lib/bootstrap.js"></script>
    <script src="main.js"></script>
</head>

<body ng-app="NCCModule" ng-controller="MainCtrl" class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="icon.ico" alt="" width="72" height="72">
            <h2>Màn hình thiết lập bảng màu- Shopee</h2>
        </div>

        <div class="row">
            <div class="col-md-9 mb-2">
                <label>Màu <button type="button" class="btn btn-success btn-sm" ng-click="addColorSetting()">+ Thêm màu</button></label><br>
                <div class="row">
                    <div class="col-3">Tên màu</div>
                    <div class="col-3">Opacity</div>
                    <div class="col-3">Mã màu</div>
                </div>

                <div ng-repeat="color in shopeeData.Colors track by $index" style="display: inline-flex;">

                </div>
                <div class="row mb-1" ng-repeat="color in shopeeData.Colors track by $index" style="display: inline-flex;">
                    <input type="text" class="form-control col-3" ng-model="color.Name" placeholder="Example: BLACK" capitalize>
                    <input type="text" class="form-control col-3" ng-model="color.Opacity" placeholder="Là con số, Example: 75">
                    <input type="text" class="form-control col-3" ng-model="color.ColorCode" placeholder="#ffefee" ng-style="{'background-color':color.ColorCode}">
                    <button type="button" class="btn btn-danger" ng-click="removeColor($index)">Xóa</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <label for="sizepicture">Đường dẫn đến image của brand tags</label>
                <input type="text" class="form-control" id="sizepicture" fileread="shopeeData.TagFolder" placeholder="C:\Users\KongKu\Downloads\Kaktee\...." ng-model="shopeeData.TagFolder" title="Copy và paste full path của folder chưa hình về tshirt brand tag của shop">
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="savebtn" ng-click="saveChangeShopee()">Lưu thay đổi</button>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019 NCSoftware</p>
        </footer>
    </div>
</body>

</html>