<!doctype html>
<html>

<head>
    <title>Setup page</title>
    <script src="./lib/angular.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <script src="./lib/jquery.slim.js"></script>
    <script src="./lib/popper.min.js"></script>
    <script src="./lib/bootstrap.js"></script>
    <script src="main.js"></script>
    <style>
        .wrapper {
            width: 200px;
            position: relative;
        }
        
        .wrapper .selected-items-box {
            cursor: pointer;
            border: solid 1px #ddd;
            padding: 10px;
            background-color: #333;
            color: #ffffff;
        }
        
        .selected-items-box .items-list {
            list-style-type: none;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        
        .selected-items-box .items-list li {
            display: inline;
        }
        
        .wrapper .list {
            display: none;
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            border-left: solid 1px #C7C6C7;
            border-right: solid 1px #C7C6C7;
            border-bottom: solid 1px #C7C6C7;
            z-index: 100;
            position: absolute;
            width: 100%;
        }
        
        .list .items-list {
            list-style-type: none;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        
        .list .items-list li {
            margin: 0;
            width: 100%;
            padding: 0;
            border-bottom: solid 1px #C7C6C7;
            padding: 5px;
            background-color: #fff;
        }
        
        .displaynone {
            display: none;
        }
    </style>
</head>

<body ng-app="NCCModule" ng-controller="MainCtrl" class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="icon.ico" alt="" width="72" height="72">
            <h2>Màn hình thiết lập - Shopee</h2>
            <p class="lead">Thiết lập các thông tin cần thiết cho Shopee account bên dưới</p>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <button class="btn btn-primary btn-lg btn-block mb-3" type="submit" ng-click="saveChangeShopee()">Lưu thay đổi</button>
                <h5 class="mb-3">Thông tin chung</h5>
                <form class="needs-validation" novalidate>
                    <!-- <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="SKU">SKU</label>
                            <input type="text" class="form-control" id="SKU" placeholder="KATEE001" ng-model="shopeeData.Sku" title="Mã định danh design của áo được upload.">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="category">Tên ngành hàng đầy đủ</label>
                            <input type="text" class="form-control" id="category" placeholder="Thời Trang Nam > Áo thun > Áo ngắn tay không cổ..." ng-model="shopeeData.Category" title="Copy giá trị đầy đủ bao gồm dấu '>'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="desc">Mô tả chung</label>
                            <textarea class="form-control" id="desc" placeholder="Chiếc áo là chiếc áo xinh, em mặc để anh nhìn..." ng-model="shopeeData.Description" title="Nhập mô tả chung cho áo..."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="brand">Thương hiệu</label>
                            <input type="text" class="form-control" id="brand" placeholder="No Brand" ng-model="shopeeData.Brand" title="Viết cho chính xác, phân biệt hoa thường giá trị từ trang của Shopee nhé">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="material">Chất liệu</label>
                            <input type="text" class="form-control" id="material" placeholder="Cotton" ng-model="shopeeData.Material" title="Viết cho chính xác, phân biệt hoa thường giá trị từ trang của Shopee nhé">
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="price">Giá mặc định (dùng chung lúc up áo khi áo chưa có giá riêng)</label>
                            <input type="text" class="form-control" id="price" placeholder="290000" ng-model="shopeeData.Price" title="Giá trị số nhé">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="quantity">Số lượng trong kho (dùng chung lúc up áo khi áo chưa có giá riêng)</label>
                            <input type="text" class="form-control" id="quantity" placeholder="100" ng-model="shopeeData.Quantity" title="Giá trị số nhé">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-2">
                            <label>Size <button type="button" class="btn btn-success btn-sm" ng-click="addSize()">+ Thêm size</button></label>
                            <div class="row mb-1" ng-repeat="color in shopeeData.Sizes track by $index">
                                <input type="text" class="form-control col-3 mr-1" ng-model="shopeeData.Sizes[$index]" capitalize>
                                <button type="button" class="btn btn-danger" ng-click="removeSize($index)">Xóa</button>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>Màu import từ mockup setting.</label><br>
                            <!-- <div ng-repeat="color in shopeeData.Colors track by $index" style="display: inline-flex;">
                                <input type="text" class="form-control col-3" ng-model="shopeeData.Colors[$index].Name">
                                <input type="text" class="form-control col-3" ng-model="shopeeData.Colors[$index].ColorCode" ng-style="{'background-color':shopeeData.Colors[$index].ColorCode}">
                            </div> -->
                            <div class="wrapper">
                                <div class="selected-items-box">
                                    -- Chọn màu --
                                </div>
                                <div class="list">
                                    <ul class="items-list">
                                        <li ng-repeat="color in supportColors.Colors track by $index">
                                            <input type="checkbox" ng-model="color.Selected" ng-change="checkChangeColor(color)" />
                                            <span>{{color.Name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span ng-repeat="color in shopeeData.Colors track by $index">
                                            <span style="color: #a9a7a7" ng-style="{'background-color':color.ColorCode}">{{color.Name}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="autogen" name="genmockupaction" type="checkbox" ng-model="shopeeData.IsGenMockup" class="custom-control-input">
                            <label class="custom-control-label" for="autogen">Kết hợp auto generate mockup<i> (Khi đó ngoài hình chuẩn bị sẵn theo dạng cùng tên file gốc kết thúc với #1, #2,.. thì mockup auto sẽ dc dùng.)</i></label>
                        </div>
                        <!-- <div class="custom-control custom-radio">
                            <input id="reused" name="genmockupaction" type="radio" ng-model="shopeeData.IsGenMockup" class="custom-control-input" value="1" checked>
                            <label class="custom-control-label" for="reused">Dùng images chuẩn bị sẵn <i> (Khi đó bạn nhớ danh sách hình được up sẽ cùng tên file gốc + #1, #2,..)</i></label>
                        </div> -->
                    </div>
                    <hr class="mb-4">
                    <h5 class="mb-3">Thông tin áo mồi(tùy chọn)</h5>
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <label for="pricedemo">Giá áo mồi</label>
                            <input type="text" class="form-control" id="pricedemo" placeholder="108000" ng-model="shopeeData.DemoProductInfo.PriceDemo" title="Giá trị số nhé">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="colordemo">Màu áo mồi</label>
                            <input type="text" class="form-control" id="colordemo" placeholder="Ghi thật chính xác 1 color từ list bên trên xuống" ng-model="shopeeData.DemoProductInfo.ColorDemo" title="Ghi thật chính xác 1 color từ list bên trên xuống">
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="sizedemo">Size áo mồi</label>
                            <input type="text" class="form-control" id="sizedemo" placeholder="Ghi thật chính xác 1 size từ list bên trên xuống" ng-model="shopeeData.DemoProductInfo.SizeDemo" title="Ghi thật chính xác 1 size từ list bên trên xuống">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <h5 class="mb-3">Thông tin vận chuyển</h5>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="sizepicture">Bảng quy đổi kích thước</label>
                            <input type="text" class="form-control" id="sizepicture" fileread="shopeeData.SizePicture" placeholder="C:\Users\KongKu\Downloads\Kaktee\size-chart.png...." ng-model="shopeeData.SizePicture" title="Copy và paste full path của hình về size chart của shop">
                        </div>
                        <div class="col-md-6 mb-2">
                            <img style="width: 150px;height: 100px;background-color: black;" data-ng-src="{{shopeeData.SizePicture}}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="weight">Cân nặng sau đóng gói</label>
                            <input type="text" class="form-control" id="weight" placeholder="300" ng-model="shopeeData.Weight" title="Giá trị là số tính bằng Gram">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="rong">Rộng</label>
                            <input type="text" class="form-control" id="rong" ng-model="shopeeData.ShipRong" placeholder="16">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="dai">Dài</label>
                            <input type="text" class="form-control" id="dai" ng-model="shopeeData.ShipDai" placeholder="23">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cao">Cao</label>
                            <input type="text" class="form-control" id="cao" ng-model="shopeeData.ShipCao" placeholder="4">
                        </div>
                    </div>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="nonorder" name="preorder" type="radio" ng-model="shopeeData.Preorder" class="custom-control-input" value="0" checked>
                            <label class="custom-control-label" for="nonorder">Không cho đặt hàng trước</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="order" name="preorder" type="radio" ng-model="shopeeData.Preorder" class="custom-control-input" value="1">
                            <label class="custom-control-label" for="order">Cho đặt hàng trước</label>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <h5 class="mb-3">Hành động sau khi 1 áo up xong</h5>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="saveexit" name="actionsave" type="radio" ng-model="shopeeData.SaveAction" class="custom-control-input" value="0">
                            <label class="custom-control-label" for="saveexit">Lưu và ẩn</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="saveshow" name="actionsave" type="radio" ng-model="shopeeData.SaveAction" class="custom-control-input" value="1" checked>
                            <label class="custom-control-label" for="saveshow">Lưu và hiện luôn</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="savebtn" ng-click="saveChangeShopee()">Lưu thay đổi</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019 NCSoftware</p>
        </footer>
    </div>
</body>

</html>